<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <div class="username"><%= @user.name %></div>
      </h1>
    </section>
  </aside>
</div>

